<h1>Admin : Dashboard </h1>
<div>
<ul class="list-group">
    <li class="list-group-item"><h5>Number of products <span class="badge bg-success"><%= @products.count() %></span></h5></li>
    <li class="list-group-item"><h5>Number of categories <span class="badge bg-success"><%= @category.count() %></span></h5></li>
  </ul>
  
    
</div>
