<section class="products-index">
  <header class="page-header">
  <h1>ABOUT US</h1>
    <div class="intro">
    <p>Jungle are a fast-growing artificial plant brand, with teams based in Montreal and New York.
    Providing high-quality, premium-grade faux plants outdoors and indoors for interior design and home décor, 
    we have worked with hundreds of experts and designers in delivering the best in artificial greenery.</p>
    </div>
  </header> 
</section>

